
  .Contact_method{
    width: 42%;
    height: 117px;
    padding: 15px;
    margin-left: 3%; 
    margin-bottom: 30px;
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: left;
    transition: all 0.5s;
  }
  .Labels{
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
  display: block;
  text-transform: capitalize;
  margin-bottom: 25px;
  transition: all 0.5s;
  }
  .rlabel {
    margin-left: 1%;
    margin-right: 13%;
    transition: all 0.5s;
  }
  .rbtn{
    display: inline;
    transition: all 0.5s;
  }
  .Contact_Method_Form{
  margin-left: 7%;
  }
  .Create_Password{
    width:42%;
    height: 370px;
    padding: 15px;
    margin-left: 3%; 
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: left;
    display: flex;
    transition: all 0.5s;
  }
  .Create_Password_Form{
   margin-left: 25px;
   display: flex;
   flex-direction: column;
  }
  .sub-labels{
  text-transform: capitalize;
  color: #4D6CAE;
  transition: all 0.5s;
  }
  .Constrains{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 13px;
  }
  .Submit_Button{
  width: 50%;
  height: 26px;
  font-weight: 500;
  font-size: 13px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-left: 35%;
  background-color: #467DF3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  }
  .Upgrade_Your_Account{
    width: 42%;
    height: 250px;
    padding: 15px;
    margin-right: 9%; 
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: right;
    transition: all 0.5s;
  }
  .rInput:checked + .rlabel{
    color: var(--primary-color);
  }
  .view_plans_btn{
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  color: var(--primary-color);
  text-decoration: none;
  }
  .view_plans_btn:hover{
    color: mediumorchid;
  
  }

@media (max-width: 1275px) {
  .rlabel{
    margin-left: 1%;
    margin-right: 4%;
    font-size: 16px;
  }
   .Submit_Button{
    font-size: 14px;
    align-items: center;
    margin-left: 20%;
   }
   
   
}
@media (max-width: 960px) {
  .rlabel{
    font-size: 19px;
  }
   .Submit_Button{
    width: 80%;
    margin-left:3%;
    margin-top: 5px;
    font-size: 17px;
   }
   .Constrains{
    font-size: 17px;
   }
   .rbtn{
    display: block;
   }
}
@media (max-width: 760px) {
  .Labels{
    font-size: 17px;
  }
  .Constrains{
    font-size: 13px;
   }
  .view_plans_btn{
    font-size: 15px;
   }
  .rlabel{
    font-size: 14px;
    
  }
  .Contact_method{
    padding: 2%;
  }
    
  .sub-labels{
      font-size: 14px;
    }
  .Create_Password_Form input{
      width: 90%;
    }
    .Create_Password_Form input::placeholder{
      color: transparent;
    }
    .Create_Password_Form {
        margin-left: 5%;
    }
  .Create_Password{
    padding: 2%;
  }
  .Submit_Button{
    height: 90%;
    font-size: 12px;
   }
  .Upgrade_Your_Account{
    margin-right: 3%;
  }
}
@media (max-width: 411px) {
  .Labels{
    font-size: 12px;
  }
  .Constrains{
    display: none;
   }
  .view_plans_btn{
    font-size: 11px;
   }
  .rlabel{
    font-size: 12px;
  }
  .sub-labels{
      font-size: 12px;
    }
  .Create_Password_Form input{
      width: 90%;
    }
    .Create_Password_Form input::placeholder{
      color: transparent;
    }
  .Create_Password{
    padding: 7px;
  }
  .Submit_Button{
    height: 90%;
    font-size: 10px;
    align-self: start;
   }

}
