
/*.leftMenu{
position:relative;
width: 236px;
height: 924px;
left: 0px;
top: 98px;
background: #F2F2F2;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);

}
.leftUser{
position: absolute;
width: 111.2px;
height: 111.2px;
left: 62px; 
top: 72px;
border: 1px solid #2457C5;
border-radius: 70px;
}
.userName{

  position: absolute;
  width: 135px;
  height: 23px;
  left: 70px;
  top: 191px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  color: #000000; 
}*/
 